:root {
  background: black;
}

div {
  -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

  #away, #home {
    text-align: center;
    color: white;
    position: absolute;
    font-size: 40vh;
    width: 100%;
  }

  #away {
    top: 0;
  }

  #home {
    bottom: 0;
  }
  
  #reset {
    position: absolute;
    color: white;
    font-size: 20vh;
    line-height: 20vh;
    margin-left: 5%;
    top: 50%;
    transform: translate(0, -50%);
  }
  
  #reset:active, #away:active, #home:active {
    opacity: .3;
  }
  
  #reset, #away, #home {
    opacity 1;
    transition: 350ms ease-out;
    cursor: pointer;
    user-select: none;
  }